h1 {
	color:Blue;
	text-align: center;
	font-family: Bangers;
	font-size: 550%;
}

p {
	color:red;
	text-align: left;
	font-family:Bangers;
	font-size: 30px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: blue;
    border: 1px solid red;
	font-family:"Bangers";
}

li a {
    display: block;
    color: white;
    padding: 24px 30px;
    text-decoration: none;
}
 
.nav{
	 display:inline block;
}
	 
li {
    text-align: center;
    border-bottom: 24px solid white;
}

li:last-child {
    border-bottom: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #000;
    color: Red;
}

@font-face{
	font-family:"Bangers";
	src:url("Bangers-Regular.ttf");
}

body{
   background-color: #000;
   cursor: url('http://ani.cursors-4u.net/comics/mic-1/mic14.cur'), auto;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1vh;
	border: 1px black solid;
}	
.headerbody {
	background-color: #EAEAEA;
	padding: 1em;
	grid-column-start: 1;
	grid-column-end: span 2;
}
.leftsidebar {
	background-color: #EAEAEA;
	padding: 1em;
	grid-column-start: 1;
	grid-column-end: span 2;
	text-align: justify;
}
.grid-item-a{
	padding: 1em;
	grid-column-start: 1;
	grid-column-end: span 1;
}
.grid-item-b {
	padding: 1em;
	grid-column-start: 2;
	grid-column-end: span 1;
}

.footerbody {
	background-color: #EAEAEA;
	padding: 1em;
	grid-column-start: 1;
	grid-column-end: span 2;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}
.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
.item1 {
  grid-column: 1 / 3;
}


